/**
@Author XDSSWAR
 */

*{
    /*Colors*/
    -white:#ffffff;
    -gray-2:#E0E0E0;
    -gray-4:#C0C0C0;
    -gray-8:#A1A1A1;
    -gray-16:#818181;
    -gray-24:#616161;
    -gray-32:#414141;
    -pink-2:#FAC1D6;
    -pink-4:#F584AD;
    -pink-8:#F04684;
    -pink-16:#E1125E;
    -pink-32: #70092F;
    -red-2:#FCD0CF;
    -red-4:#FAA09E;
    -red-8:#F7716E;
    -red-16:#F5413D;
    -red-24:#DA100B;
    -red-32:#910B08;
    -orange-2:#FBE5C9;
    -orange-4:#F6CA92;
    -orange-8:#F2B05C;
    -orange-16:#ED9526;
    -orange-24:#BF710F;
    -orange-32:#7F4C0A;
    -yellow-2:#FBF3D0;
    -yellow-4:#F7E7A1;
    -yellow-8:#F4DB71;
    -yellow-16:#F0D042;
    -yellow-24:#D4B011;
    -yellow-32:#8E750B;
    -green-2:#C5F2C7;
    -green-4:#8CE590;
    -green-8:#52D858;
    -green-16:#2AB930;
    -green-24:#1F8B24;
    -green-32:#155D18;
    -teal-2:#ABFBF3;
    -teal-4:#4EF6E5;
    -teal-8:#0CDBC6;
    -teal-16:#009E8E;
    -teal-24:#00776A;
    -teal-32:#004F47;
    -blue-2: #C5DCFA;
    -blue-4:#8AB9F6;
    -blue-8:#5096F1;
    -blue-16:#1672EC;
    -blue-24:#0F56B3;
    -blue-32:#0A3977;
    -indigo-2:#C7CDF1;
    -indigo-4:#8E9AE3;
    -indigo-8:#5668D5;
    -indigo-16:#2E41B6;
    -indigo-24:#223189;
    -indigo-32:#17205B;
    -purple-2:#ECB9F9;
    -purple-4:#D972F4;
    -purple-8:#C52CEE;
    -purple-16:#9A0FBF;
    -purple-24:#730C8F;
    -purple-32:#4D085F;
}

/**
Reset
 */
.split-pane { -fx-background-insets: 0; -fx-padding: 0; }

/**
==========================================COMMON STYLES=================================================================
 */

.menu-bar{
    -fx-background-color: #F3F3F3;
    -fx-border-width: 0 0 .4 0;
    -fx-border-color: #807d7d;
}


.menu{
    -fx-text-fill: #555555;
    -fx-font-family: "Roboto";
    -fx-font-size: 13;
}

.context-menu{
    -fx-background-color: -white;
    -fx-border-color: #e7e6e6;
    -fx-opacity: .90;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-min-width: 160;
    -fx-padding: -1;
}



.menu-item,.context-menu-item{
    -fx-text-fill: #555555;
    -fx-font-family: "Roboto";
    -fx-font-size: 13;
    -fx-padding: 7;
}

.menu:hover,
.menu:armed,
.menu:selected,
.menu:focused,
.menu:showing,
.menu-item:hover,
.menu-item:armed,
.menu-item:selected,
.menu-item:focused,
.context-menu-item:hover,
.context-menu-item:armed,
.context-menu-item:selected,
.context-menu-item:focused,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:hover,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:armed,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:selected,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:focused
{
    -fx-background-color: #007bff;
    -fx-text-fill: -white;
    -fx-cursor: hand;
}



.menu:hover> .label,
.menu:armed>.label,
.menu:selected> .label,
.menu:focused>.label,
.menu:showing> .label,
.menu-item:hover .label,
.menu-item:armed .label,
.menu-item:selected .label,
.menu-item:focused .label,
.context-menu-item:hover .label,
.context-menu-item:armed .label,
.context-menu-item:selected .label,
.context-menu-item:focused .label{
    -fx-text-fill: -white;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:hover .label{
    -fx-text-fill: -white;
}

.context-menu-item-icon,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item .left-container .radio{
    -fx-fill: #555555;
}

.context-menu-item:hover .context-menu-item-icon,

.context-menu-item:armed .context-menu-item-icon,
.context-menu-item:selected .context-menu-item-icon,
.context-menu-item:focused .context-menu-item-icon{
    -fx-fill: -white;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:hover .tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item .left-container .radio,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:armed .tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item .left-container .radio,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:selected .tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item .left-container .radio,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:focused .tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item .left-container .radio{
    -fx-fill: -white;
}
